<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
</head>
<body>

    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="/">Marsa Maroc Prediction</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="/">Prediction</a>
                <a class="nav-item nav-link" href="/contact">Contact</a>
              </div>
            </div>
          </div>
        </nav>
    </header>

    <div class="about-section">
        <div class="inner-container">
            <h1>À propos de nous</h1>
            <p class="text">
                Marsa Maroc est le leader national de l'exploitation de terminaux portuaires. Dans les 9 ports où elle est présente, Marsa Maroc offre des services de manutention, de stockage et de logistique portuaire ainsi que des services aux navires.
                Depuis sa création en décembre 2006, Marsa Maroc s'est engagée dans un processus de développement en phase avec la dynamique que connaît le secteur de la logistique au Maroc. En plus d'ériger la qualité de service comme priorité à travers, entre autres, le développement du capital humain et l'amélioration continue de son parc d'équipements, Marsa Maroc ambitionne de devenir un opérateur portuaire de référence sur le plan régional.
            </p>
            <div class="skills">
                <span><a href="https://www.marsamaroc.co.ma/profil">Voir Plus</a></span>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>